.customButton {
    box-shadow:  1px 10px 37px -4px #858585;
}

.reports:hover {
    background-color: #f8f9fa;
}

.simpleSearchbar {
    border: none;
}

.simpleSearchbar:focus {
    outline: none;
}