.accordion-button:not(.collapsed) {
  color: black;
  background-color: rgba(0, 0, 0, 5%);;
}

.accordion-button.collapsed {
  color: black;
  background-color: white;
}

.accordion-body {
  background-color: white;
}