<!DOCTYPE html>
<html>
  <head>
    <!-- HelloSign embedded API documentation: 
    https://github.com/hellosign/hellosign-embedded/wiki/API-Documentation-%28v2%29#on -->
    <script src="https://cdn.hellosign.com/public/js/embedded/v2.9.0/embedded.development.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      const hs_client = new window.HelloSign({clientId: "{{hellosign_client_id}}" });
      // Event triggered when the user leaves the session early
      hs_client.on('cancel', () => {
        console.log('The signature request was canceled');
      });
      // Event triggered when the file is sent for signature
      hs_client.on('sign', (data) => {
        console.log('The signature request was successful!');
        const post_SignReq= {
          signatureId: data.signatureId
        }
        console.log("POST signatureRequest:",post_SignReq);
        if("{{sign_id}}"===post_SignReq["signatureId"])
          console.log('GET signatureRequest matches POST signatureRequest!')
        document.body.innerHTML = "<h1>Inspection Process complete!</h1>\
                                   <button>Return to Dashboard</button>";
      });

      let hs_options = { skipDomainVerification: true };
      let embed_url = "{{{embed_url}}}";
      hs_client.open(embed_url,hs_options);
    </script>
  </body>
</html>
