@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  padding: 0;
}

* {
  font-family:'Inter', sans-serif !important;
}

code {
  font-family: 'Inter', sans-serif;
}

/* (A) WHOLE PAGE */
* { box-sizing: border-box; }