
.secondContainer {
    border-radius: 60px 0 0 60px;
    background-image: url("../../../public/images/signInUp/restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}